#heading {
  margin: 0;
  padding: 0;
  width: 50%;
}

.bold {
  font-weight: bold;
  font-style: italic;
}

#profilePicture {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.navBar {
  text-align: center;
}
